$highlighted-color: #feb048;
$color1: #e43c59;
$color1-darken: #c23531;
$background-darken: #f0f0f0;
$default-text-color: #333;

.bold {
    font-weight: bold;
}

.navbar {

    .navbar-brand {
      font-weight: bold;
      font-size: 1.6rem;
      padding: 5px 19px;
      margin-right: 3px;
      transition: color 0.3s ease;
      color: black;
      @media (max-width: 991px) {
          font-size: 1.8rem;
      }
  
      &:hover, &.active, &:active, &:focus {
          color: $highlighted-color;
      }
    }
  
}

.ps-comp {
    height: 100vh;
}

.top-buttons {
    padding-top: 70px;
    padding-bottom: 30px;

    .btn-primary.custom {
        background-color: $color1;
        border-color: $color1-darken;
        border-width: 3px;
        font-weight: bold;
        border-radius: 10px;
        min-width: 60px;

        &:hover {
            background-color: hsl(350, 76%, 46%);
            border-color: hsl(350, 76%, 46%);
        }
    }

    h2 {
        font-weight: bold;
        color: $default-text-color;
        margin-right: 15px;
    }
}

.ps-info {
    padding-bottom: 50px;
    
    h1 {

        font-size: 1.5rem;

        margin-bottom: -45px;

        font-weight: bold;
        color: $default-text-color;
        z-index: 2;
    }

    #ps-chart {

        z-index: 1;
    
        background-color: $background-darken;
    
        border-radius: 15px;

        margin-bottom: 20px;
    
        width: 100%;
        height: 550px;
    
        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    .disclaimer {
        width: 90%;
        color: $default-text-color;
    }

    .row {
        margin-bottom: 50px;
    }

    .content {
        width: 100%;
        color: $default-text-color;

        h2 {
            font-weight: bold;
            margin-bottom: 15px;
        }

        .dataset-info {
            padding-top: 1px;
            padding-bottom: 0px;
            background-color: $background-darken !important;
            border-radius: 15px;
        
            table {
                background-color: transparent;

                th {
                    background-color: transparent;
                    text-align: center;
                }

                td {
                    background-color: transparent;
                    border: none;
                    text-align: center;
                }
            }
        }
    }

}


.custom-file-input {
    padding-right: 10px;
    margin-left: 5px;
    font-size: 16px;
    color: #555;
    background-color: $background-darken;
    border: 2px solid #7cb342;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-input:hover {
    background-color: #e0e0e0;
}

.custom-file-input::-webkit-file-upload-button {
    padding: 9.5px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #7cb342;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-input::-webkit-file-upload-button:hover {
    background-color: #45a049;
}
